/* ESTILO TABLA  */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

th {
    padding: 25px;
    text-transform: uppercase;
}

td {
    padding-top: 25px;
}

/* FIN ESTILO TABLA  */

body {
    font-family: sans-serif;
    align-items: center;
    text-align: center;
}

.cajaInputIncorrecto {
    border-width: 4px;
    border-color: red;
}

.cajaInputCorrecto {
    border-width: 4px;
    border-color: rgb(94, 94, 250);
}

#avisoError {
    color: red;
}

#avisoOk {
    color: green;
}

.aprobado {
    background: green;
}

.diciembre {
    background: yellow;
}

.marzo {
    background: red;
}

.divAprobadosYdesaprobados {
    display: flex;
    justify-content: space-around;
}

.divAprobadosYdesaprobados input {
    background-color: rgb(173, 122, 222);
    padding: 20px;
    border-radius: 10px;
    border-width: 4px;
    font-size: 18px;
}

.divBuscarApellido .botonBuscar {
    background-color: rgb(104, 150, 207);
    padding: 20px;
    border-radius: 10px;
    border-width: 4px;
    font-size: 12px;

}

.divBuscarApellido input {
    padding: 20px;
    border-radius: 10px;
    border-width: 4px;
}

.divBuscarApellido {
    margin-top: 60px;
    margin-bottom: 60px;
}

.mostrarApellido {
    margin-top: 15px;
    margin-bottom: 60px;
    background-color: rgb(73, 73, 73);
    padding-top: 1px;
    padding-bottom: 1px;
}

.mostrarApellido p {
    color: white;
}

.mostrarApellido h3 {
    color: rgb(242, 255, 53);

}

body {
    background-image: url('../img/bkg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.underlineNegro {
    display: inline-block;
    position: relative;
}

.underlineNegro:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom center;
    transition: transform 0.2s ease-out;
}

.underlineNegro:hover:after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

.divUsuarios2 p {
    display: none;
}

.divAprobados2 p {
    display: none;
}

#divUsuarios {
    margin-top: 80px;
}

#divUsuarios input {
    background-color: rgb(104, 150, 207);
    font-size: 18px;
}

form input {
    font-size: 14px;
}

.bienvenida p {
    font-size: 18px;
}

.mostrarApellido2 h3 {
    display: none;
}

.loader {
    position: absolute;
    border: 16px solid #fffb11e0;
    border-top: 16px solid #555555;
    border-radius: 90%;
    width: 20vh;
    height: 20vh;
    animation: spin 2s linear infinite;

}
.loader::before{
}
.loader::after{
    position: absolute;
    width: 85%;
    height: 85%;
    background-color: #222;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    margin: -25px , -25px; 
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
